* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    clear: both;
    border: 2px solid black;
}

section {
    height: 200px;
    width: 33.3333%;
    float: right;
    border: 2px solid black;
}

section:nth-of-type(4),
section:nth-of-type(5) {
    height: 300px;
    width: 49.99%;
}